---
services:
  cli:
    build: ..
    network_mode: host
    volumes:
      - ./tmp:/tmp
  dht:
    build: ..
    network_mode: host
    command: ["dhtnode", "-p", "4222", "--proxyserver", "8000", "-D", "-v", "-s"]
    restart: unless-stopped