---
services:
  cli:
    build: ../workspace
    network_mode: host
    volumes:
      - ./mysgm:/tmp
  dht:
    build: ../workspace
    network_mode: host
    command: ["dhtnode", "-p", "4222", "--proxyserver", "8000", "-D", "-v", "-s", "-f", "/tmp/dht"]
    restart: unless-stopped
    volumes:
      - ./opendht:/tmp