---
services:
  mysgm_builder:
    image: rust:1.89-bullseye
    command: ["cargo", "build", "--release"]
    working_dir: /usr/local/src/mysgm
    volumes:
      - ../workspace:/usr/local/src
  dht:
    build: ../workspace/opendht
    network_mode: host
    command: ["dhtnode", "-p", "4222", "--proxyserver", "8000", "-D", "-v", "-s", "-f", "/tmp/dht"]
    restart: unless-stopped
    volumes:
      - ./opendht:/tmp