version: "3.8"

services:
  mysgm_builder:
    build:
      context: ../workspace
      dockerfile: Dockerfile.builder
    environment:
      - CARGO_TARGET_DIR=/tmp/target
    command: ["cargo", "build", "--release", "--target=aarch64-unknown-linux-gnu"]
    working_dir: /usr/local/src/mysgm
    volumes:
      - ../workspace:/usr/local/src

  dht:
    build: ../workspace/opendht
    ports:
      - "8000:8000"
      - "4222:4222/udp"
    command: ["dhtnode", "-p", "4222", "--proxyserver", "8000", "-D", "-v", "-s", "-f", "/tmp/dht"]
    restart: unless-stopped
    volumes:
      - ./opendht:/tmp
